@import "tailwindcss";
@import "uniwind";

@theme {
  --font-sans: "Electrolize_400Regular";
}

@layer theme {
  :root {
    @variant dark {
      --color-background: #1f1f1f;
      --color-foreground: #fafafa;
      --color-card: #1f1f1f;
      --color-card-foreground: #fafafa;
      --color-popover: #1f1f1f;
      --color-popover-foreground: #fafafa;
      --color-primary: #cc0000;
      --color-primary-foreground: #fafafa;
      --color-secondary: #262626;
      --color-secondary-foreground: #fafafa;
      --color-muted: #262626;
      --color-muted-foreground: #a3a3a3;
      --color-accent: #262626;
      --color-accent-foreground: #fafafa;
      --color-destructive: #7f1d1d;
      --color-destructive-foreground: #fafafa;
      --color-border: #262626;
      --color-input: #262626;
      --color-ring: #525252;
      --radius: 0.25rem;
    }

    @variant light {
      --color-background: #1f1f1f;
      --color-foreground: #fafafa;
      --color-card: #1f1f1f;
      --color-card-foreground: #fafafa;
      --color-popover: #1f1f1f;
      --color-popover-foreground: #fafafa;
      --color-primary: #cc0000;
      --color-primary-foreground: #fafafa;
      --color-secondary: #262626;
      --color-secondary-foreground: #fafafa;
      --color-muted: #262626;
      --color-muted-foreground: #a3a3a3;
      --color-accent: #262626;
      --color-accent-foreground: #fafafa;
      --color-destructive: #7f1d1d;
      --color-destructive-foreground: #fafafa;
      --color-border: #262626;
      --color-input: #262626;
      --color-ring: #525252;
      --radius: 0.25rem;
    }
  }
}
